# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain

# Ignore files in git archive (i.e. GitHub release builds)

## Docker
Dockerfile                              export-ignore
.dockerignore                           export-ignore

## Travis
.travis.yml                             export-ignore

## GitHub
.github/                                export-ignore

## Git
.gitattributes                          export-ignore
.gitignore                              export-ignore

## Scalingo
scalingo.json                           export-ignore

## RSS-Bridge
phpunit.xml                             export-ignore
phpcs.xml                               export-ignore
phpcompatibility.xml                    export-ignore
tests/                                  export-ignore
cache/.gitkeep                          export-ignore

## Composer
#
# Keep the following lines commented out. Heroku does
# not function if the composer files are ignored during
# export. For more information see
# https://github.com/rss-bridge/rss-bridge/issues/1165
#
# composer.json                         export-ignore
# composer.lock                         export-ignore

## Heroku
#
# Keep the following line commented out. Heroku does
# not function if app.json is ignored during export.
# For more information see
# https://github.com/rss-bridge/rss-bridge/issues/1165
#
# app.json                              export-ignore
