<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	colors="true"
	processIsolation="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="1"
	timeoutForLargeTests="6" >

	<testsuites>
		<testsuite name="implementations">
			<directory suffix="ImplementationTest.php">tests</directory>
		</testsuite>
		<testsuite name="formats">
			<directory suffix="FormatTest.php">tests</directory>
		</testsuite>
		<testsuite name="actions">
			<directory suffix="ActionTest.php">tests</directory>
		</testsuite>
	</testsuites>

</phpunit>
