<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	bootstrap="./lib/bootstrap.php"
	colors="true"
	processIsolation="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="1"
	timeoutForLargeTests="6" >

	<testsuites>
		<testsuite name="rss-bridge">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

</phpunit>
