<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"

		colors="true"
		bootstrap="../lib/Tests.php"
		processIsolation="true"
        timeoutForSmallTests="1"
        timeoutForMediumTests="1"
        timeoutForLargeTests="6" >

</phpunit>
