name: 'PR Testing'

on:
  pull_request_target:

jobs:
  test-pr:
    name: Generate HTML
    runs-on: ubuntu-latest
    # Needs additional permissions https://github.com/actions/first-interaction/issues/10#issuecomment-1041402989
    steps:
      - name: Check out self
        uses: actions/checkout@v2.3.2
        with:
          persist-credentials: false
      - name: Check out rss-bridge
        run: |
          PR=${{github.event.number}};
          mv .github/prtester-requirements.txt ./requirements.txt;
          mv .github/prtester.py .;
          wget https://patch-diff.githubusercontent.com/raw/$GITHUB_REPOSITORY/pull/$PR.patch;
          cat $PR.patch | grep " bridges/.*\.php" | sed "s= bridges/\(.*\)Bridge.php.*=\1=g" | sort | uniq > whitelist.txt
      - name: Start Docker - Current
        run: |
          docker run -d -v $GITHUB_WORKSPACE/whitelist.txt:/app/whitelist.txt -p 3000:80 ghcr.io/rss-bridge/rss-bridge:latest
      - name: Start Docker - PR
        run: |
          docker build -t prbuild .;
          docker run -d -v $GITHUB_WORKSPACE/whitelist.txt:/app/whitelist.txt -p 3001:80 prbuild
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          cache: 'pip'
      - name: Install requirements
        run: |
          cd $GITHUB_WORKSPACE
          pip install -r requirements.txt
      - name: Run bridge tests
        run: |
          mkdir results;
          python prtester.py
      - name: Find result files
        uses: tj-actions/glob@v7.10
        id: artifacts
        with:
          files: |
            ./results/*.html
      - name: Upload results to PR
        uses: yamanq/pull-request-artifacts@v1.3.1
        with:
          commit: ${{ github.event.pull_request.head.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          artifacts-branch: artifacts
          artifacts-prefix-url: "https://htmlpreview.github.io/?"
          artifacts: |
            ${{ steps.artifacts.outputs.paths }}